/* variables */
:root{
    --primary-font: ui-monospace,serif,"Playfair Display" ;
    --secondary-font: "Quicksand", Arial, sans-serif;
}
.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: black;
    --color-outline: #a3b5c5;
    --color-shadow: #bdd0d880;
  }
  .btn-title{
    font-size: 12px !important;
    text-transform: uppercase !important;
    color: white !important;
    font-weight: lighter !important;
    letter-spacing: 4px !important;
    background-color: black !important;
    border: none !important;
  }
  .btn-content {
    display: flex;
    align-items: center;
    padding: 1px 25px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 50px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
    margin-bottom: 4.5px;
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
*{
    scroll-behavior: smooth;
    font-family: var(--secondary-font);
}
.container-lg{
    max-width: 1200px;
}
.container-fluid{
    padding:0;
}
h2,h4{
    font-family: var(--primary-font);
}
.offcanvas{
    max-width: 300px;
}
.aside{
    overflow-y: scroll;
    background: #f2f3f7;
    height: 100vh;
    position:sticky;
    top:0;
    bottom:0;
}
.dp img{
    border: 10px solid #c5c4c4;
    height: 200px;
    width: 200px;
}
.menu li{
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.list-unstyled a.active, .list-unstyled a:hover{
    color: rgb(74, 153, 255) !important;
    border-bottom: 2px solid rgb(74, 153, 255) !important;
    /* text-decoration: underline !important; */
}
.top-bar{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo img{
    height: 38px;
}
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 #HOME .text{
   padding: 38% 8%;
  }
  .text h2{
   font-size: 50px;
   font-weight: bold;
  }
  .contant span{
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
  }
  .contant h2{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height:2;
}
.contant p{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: gray;
}
.box{
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.box-margan{
    margin-top: -81px;
}
.accordion-button:focus {
    box-shadow: none;
} 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   color: white;
   background-color: rgb(126, 126, 126);
}
.product img{
  transition: transform 0.5s;
}
.product img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.gotopbtn{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.fancy {
    border: 2px solid #000;
    display: inline-block;
    padding:10px 18px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 10px;
   }
   .fancy .text {
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #ffffff;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   .sil::after{
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    background: red;
    border-radius: 50%;
}
.progress-bar{
    background-color: #a1a1ff;
}

   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 0.875rem;
    bottom: -2px;
    position: absolute;
    background: #ffffff;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }

   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.4em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }
    .TypingText{
      overflow: hidden;
  }
  .TypingText .typText{
      position: relative;
      color: rgb(74, 153, 255) !important;
      font-size: 22px;
      font-weight: 500;
  }
  .TypingText .typText.first-typText{
      color: #212529 !important;
  }
  .typText.sec-typText:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #f8f9fa;
      border-left: 2px solid rgb(74, 153, 255) !important;
      animation: animate 4s steps(12) infinite;
  }
  @keyframes animate{
      40%, 60%{
          left: calc(100% + 4px);
      }
      100%{
          left: 0%;
      }
  }
/* RESPONSIVE FOR PHONE */
  @media only screen and (max-width: 600px) {
    .text h2{
        font-size: 31px;
       }
       .TypingText .typText{
        font-size: 15px;
    }
       #HOME .text{
        padding: 20% 6%;
       }
       .text .btn{
        font-size: 8px;
       }
       .text p{
        font-size: 11px;
       }
       .contant span{
        letter-spacing: 3px;
      }
      .contant h2{
        font-size: 15px;
        letter-spacing: 3px;
    }
    .contant p{
        font-size: 14px;
    }
    h4{
        font-size: 21px;
    }
  }
  @media only screen and (max-width: 380px) {
    .TypingText .typText{
      font-size: 11px;
  }
  }